In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20130101', periods = 6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns = list ('ABCD'))

In [7]:
df

                   A         B         C         D
2013-01-01  0.024096  1.337622 -1.320697  0.070457
2013-01-02  0.836925  0.267147 -0.796209  0.190338
2013-01-03  0.758983  0.970604  2.288438  0.388539
2013-01-04  2.342272 -0.800200  0.308407 -1.793359
2013-01-05 -0.094809  0.290506 -0.334734 -0.981974
2013-01-06  0.819229 -0.755767 -0.953076 -1.069160